<h2>Available Shops</h2>
<!-- <div>
  <div>
    <table border="1">
      <tr>
        <th>ShopId</th>
        <th>Shop Name</th>
        <th>Shop Rating</th>
      </tr>
      <tr *ngFor="let item of shops">
        <td>
          {{ item.shopId }}
        </td>
        <td>
          <button class="btn btn-primary" (click)="log(item.shopId)">
            {{ item.shopName }}
          </button>
        </td>
        <td>
          {{ item.rating }}
        </td>
      </tr>
    </table>
  </div>
</div> -->

<!-- ^^^^^^^^^^ Before Designing -->

<!--  -->

<div class="shops-list" *ngFor="let item of shops">
  <div class="shop">
    <img
      src="https://slp-statics.astockcdn.net/static_assets/staging/23summer/curated-collections/card-5.jpg?width=580&format=webp"
      alt="Shop Image"
      width="100%"
      class="shop-img"
    />
    <div class="hover-text">{{ item.shopName }}</div>
    <div class="shop-text">
      rating {{ item.rating }} &nbsp;<span class="fa fa-star checked"></span>
    </div>
    <button class="lets-go hover-text" (click)="log(item.shopId)">
      Let's Go
    </button>
  </div>
</div>
